@import "reset";
@import "variables";
@import "result-container";
@import "summary-container";

@supports not (font-variation-settings: normal) {
    @font-face {
        font-family: $primaryFont, $fontFallback;
        src: url('../assets/fonts/static/HankenGrotesk-Medium.ttf');
        font-weight: 500;
    }
    @font-face {
        font-family: $primaryFont, $fontFallback;
        src: url('../assets/fonts/static/HankenGrotesk-Bold.ttf');
        font-weight: bold;
    }
    @font-face {
        font-family: $primaryFont, $fontFallback;
        src: url('../assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
        font-weight: 800;
    }
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: $primaryFont, $fontFallback;
        src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('trueType');
        font-weight: 100 900;
    }
}

* { box-sizing: border-box }

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: $primaryFont, $fontFallback;
    background-color: $mainBgColor;

    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 4vmin;
        box-shadow: $componentBoxShadow;
        background-color: $componentBgColor;
    }
}

h1 {
    font-weight: $bold;
    color: $dirtySnow;
    font-size: 26px;
}

@media only screen and (max-width: 650px) {
    body {
        .main-container {
            grid-template-columns: 1fr;
            width: 100%;
            max-height: 100%;
            position: fixed;
            top: 0;
            border-radius: 0  0 4vmin 4vmin;
            overflow-y: auto;

            .result-container {
                .score-container {
                    margin-top: 30px;

                    .circle-container {
                        width: 200px;
                        height: 200px;
                        font-size: 25px;

                        .score-number {
                            padding-bottom: 15px;
                            font-size: 75px;
                        }
                    }
                }

                .result-info {
                    .result-text {
                        white-space: normal;
                        line-height: 30px;
                    }
                }
            }

            .summary-container {
                .summarized-results-container {
                    margin-top: 30px;

                    .result {
                        margin-bottom: 15px;
                        padding: 20px;
                        border-radius: 15px;

                        div img {
                            padding-right: 13px;
                        }
                    }

                    .summary-btn {
                        padding: 20px;
                    }
                }
            }
        }
    }

    h1 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 375px) {
    body {
        .main-container {
            .result-container {
                .result-info {
                    .result-quote {
                        font-size: 33px;
                    }

                    .result-text {
                        white-space: nowrap;
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}


