@import "reset";

* { box-sizing: border-box }

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/static/HankenGrotesk-Bold.ttf') format('trueType');
}

:root {
    --font-fallback: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-sans;
}

html,
body {
    font-family: 'Hanken Grotesk', var(--font-fallback);
    font-size: 16px;
}
