@import "variables";

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw 4vw;
    border-radius: inherit;
    color: $snowWhite;
    background: $resultContainerGradientBg;

    .score-container {
        display: inherit;
        flex-direction: inherit;
        align-items: inherit;
        justify-content: center;
        margin-top: 4.5vmin;

        .circle-container{
            display: inherit;
            flex-direction: inherit;
            align-items: inherit;
            justify-content: inherit;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            font-size: 22px;
            font-weight: $weakMedium;
            color: $dirtySnowDarkest;
            background: $circleContainerGradientBg;

            .score-number {
                padding-bottom: 1vmin;
                font-size: 85px;
                font-weight: $bold;
                color: $snowWhite;
            }
        }
    }

    .result-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5vmin;

        .result-quote {
            font-size: 37px;
            font-weight: $weakMedium;
        }

        .result-text {
            text-align: center;
            white-space: pre-line;
            margin-top: 3vmin;
            font-size: 22px;
            font-weight: $weakMedium;
            line-height: 15px;
            color: $dirtySnow;
        }
    }
}
