@import "variables";

.summary-container {
    display: flex;
    flex-direction: column;
    padding: 4vw 3vw;
    border-radius: inherit;

    .summary-heading {
        text-align: left;
        color: $midnightDark;
    }

    .summarized-results-container {
        display: inherit;
        flex-direction: inherit;
        margin-top: 4vmin;

        .result {
            display: inherit;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2vmin;
            padding: 2vmin;
            border-radius: 1vmin;
            font-size: 20px;
            font-weight: $bold;

            div {
                display: inherit;
                align-items: inherit;

                img {
                    padding-right: 1.5vmin;
                }
            }

            .result-score {
                color: $midnightDark;

                span {
                    color: $dirtySnowDark;
                    margin-left: 1vmin;
                }
            }
        }

        .reaction-result {
            color: hsl(10, 70%, 50%);
            background-color: hsla(10, 70%, 90%, 0.3);
        }

        .memory-result {
            color: hsl(47, 90%, 50%);
            background-color: hsla(47, 70%, 90%, 0.5);
        }

        .verbal-result {
            color: hsl(155, 58%, 50%);
            background-color: hsla(155, 48%, 90%, 0.5);
        }

        .visual-result {
            color: hsl(220, 80%, 40%);
            background-color: hsla(220, 48%, 90%, 0.5);
        }

        .summary-btn {
            margin-top: 3vmin;
            padding: 2.5vmin;
            border: none;
            border-radius: 10vmin;
            font-size: 25px;
            font-weight: $strongRegular;
            color: $snowWhite;
            background-color: hsl(220, 70%, 25%);

            &:hover {
                cursor: pointer;
                background-color: hsla(220, 80%, 55%, 0.5);
            }
        }
    }
}
